img{
    max-width: 100%;
    max-height: 100%;
}

.image-container{
    width: 100%;
    height: auto;
}

.image-container-custom{
    width: 100%;
    height: auto;
}

.image-container-custom:hover{
    cursor: zoom-in;
}